h1{
    text-align: center;
    font-size: 55px;
    color: #0800ff;

}
body {
  background-color: #000000;
}
p{
  text-align: center;
  font-size: 50px;
  color: rgb(47, 47, 47);
}
.carro { 
     width: 20%;
    height: 50;
}
.cabecalho {
 border-style: groove;
 border-color: rgb(255, 255, 255);
}
.button{
display: inline-block;
padding: 10px 20px;
}